baseURL = 'https://EliNichols6.github.io'
languageCode = 'en-us'
theme = 'ananke'

[params]
  author = "Eli Nichols"
  description = "NKU Student"
[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Projects" 
    url = "/projects/"
    weight = 2
